[submodule "hdl"]
	path = hdl
	url = https://github.com/analogdevicesinc/hdl.git
[submodule "PYNQ"]
	path = PYNQ
	url = https://github.com/Xilinx/PYNQ.git
[submodule "plutosdr-fw"]
	path = plutosdr-fw
	url = git@github.com:zehicks/plutosdr-fw.git
[submodule "PlutoSDR/project-spec/meta-adi"]
	path = PlutoSDR/project-spec/meta-adi
	url = git@github.com:zehicks/meta-adi.git
